<ion-header translucent>
  <ion-toolbar>
    <ion-title>Alert</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content fullscreen class="ion-padding">
  <ion-button expand="block" (click)="presentAlert()">Show Present Alert</ion-button>
  <ion-button expand="block" (click)="presentAlertMultipleButtons()">Show Multiple Buttons</ion-button>
  <ion-button expand="block" (click)="presentAlertConfirm()">Show Alert Confirm</ion-button>
  <ion-button expand="block" (click)="presentAlertPrompt()">Show Alert Prompt</ion-button>
  <ion-button expand="block" (click)="presentAlertRadio()">Show Alert Radio</ion-button>
  <ion-button expand="block" (click)="presentAlertCheckbox()">Show Alert Checkbox</ion-button>
</ion-content>